[submodule ".vim/pack/gcman105/start/ultisnips"]
	path = .vim/pack/gcman105/start/ultisnips
	url = git@github.com:SirVer/ultisnips.git
[submodule ".vim/pack/gcman105/start/vim-solarized8"]
	path = .vim/pack/gcman105/start/vim-solarized8
	url = https://github.com/lifepillar/vim-solarized8.git
